.address__container {
  background-color: #f6f6f6;
  color: #686868 !important;

  .address__content {
    width: calc(100% - 230px);
    margin-top: 20px;
    height: 500px;
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    margin-left: 20px;
    min-width: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    border-radius: 0.125rem;
    padding: 20px;

    .address__content__title {
      font-weight: 600;
      font-size: 1.1em;
    }

    .address-item__container {
      background-color: #fafafa;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
      padding: 20px;
      margin-bottom: 20px;
      color: #5a616f !important;

      .address-item__row {
        display: flex;
        // align-items: center;
        margin-bottom: 0.4em;

        &:last-child {
          margin-bottom: unset;
        }

        &__label {
          min-width: 120px;
          height: 1em;
        }

        &__value {
          max-width: 400px;
        }

        &__default {
          margin-left: 100px;
          color: #5cb85c;
        }
      }
    }

    .button-wrapper {
      position: relative;
      width: 130px;
      height: 40px;
      margin-top: 15px;

      .button-save {
        color: #fff;
        width: 100%;
        height: 100%;
        background-color: #0795df;

        &:focus {
          outline: none;
          border: none;
        }

        &:disabled {
          cursor: not-allowed;
          background-color: rgba(#000, 20%);
          color: #fff;
        }
      }
    }
  }
}
