.article-detail{
    padding: 50px;

    .article-detail-title{
        margin-bottom: 30px;
    }
}

.separate{
    border-left: 1px solid #888;
    height: 100vh;

}

.article-list{
    padding: 50px;

    .container-article{
        padding: 10px;
        
        .image-title{
            font-size: 15px;
        }
    }
}