.auction-detail-container {
    background-color: #f6f6f6;
    width: 100%;
    color: #686868 !important;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .title {
        font-size: 18px;
        font-weight: 600;
        color: #686868;
        margin-bottom: 20px;
    }

    .auction-detail-content {
        width: 100%;
        height: auto;
        padding: 10px 0;

        .shop-info-container {
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
            padding: 20px 40px;
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .shop-info-left {
                flex-basis: 40%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                img {
                    width: 80px;
                    height: 80px;
                    object-position: center;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 1px solid #d7d7d7;
                    margin-right: 2rem;
                }

                .shop-name {
                    font-weight: 550;
                    font-size: 1.1rem;
                    margin-bottom: 5px;
                }

                .shop-action {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    .btn-follow {
                        padding: unset;
                        margin-right: 20px;
                        width: 100px;
                        height: 32px;
                        border-radius: 5px;
                        text-align: center;
                        background-color: #fff;
                        color: #0795df;
                        border: 0.5px solid #0795df;

                        &:focus {
                            outline: unset;
                        }
                    }

                    .btn-view-shop {
                        padding: unset;
                        width: 100px;
                        height: 32px;
                        border-radius: 5px;
                        text-align: center;
                        background-color: #0795df;
                        color: #fff;

                        &:focus {
                            outline: unset;
                        }
                    }
                }
            }

            .shop-info-right {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-left: 1px solid #0795df;

                .col-left {
                    display: flex;
                    flex-direction: column;
                    margin-left: 40px;

                    .star,
                    u {
                        color: #0795df;
                    }

                    .col-left-row {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 1rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        i {
                            font-size: 1.4rem;
                            margin-left: 8px;
                        }
                    }
                }

                .col-right {
                    margin-left: 8rem;

                    u {
                        color: #0795df;
                    }

                    .col-right-row {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 1rem;

                        &:first-child {
                            margin-top: 2rem;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        i {
                            font-size: 1.4rem;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }

        .auction-info-container {
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
            padding: 20px;
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;

            .auction-info-image {
                flex-basis: 45%;
                margin-right: 5%;

                .p-galleria-thumbnail-wrapper {
                    margin-top: 20px;

                    .p-galleria-thumbnail-container {
                        background-color: rgba($color: #000000, $alpha: 0.4);

                        .p-galleria-thumbnail-items-container {
                            width: 100%;

                            .p-galleria-thumbnail-items {
                                justify-content: space-around;
                            }
                        }
                    }
                }
            }

            .auction-info-detail {
                flex-basis: 50%;
                font-size: 1.1rem;
                position: relative;

                h5 {
                    color: #027ca5;
                    font-size: 21px;
                    padding: 16px 0;
                    line-height: 1;
                    margin: 0;
                }

                .detail-name {
                    font-size: 1.3rem;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .detail-warranty-active {
                    font-weight: 600;
                    color: #5cb85c;
                }

                .detail-warranty-expired {
                    font-weight: 600;
                    color: #dc4e41;
                }

                .auction-detail-action {
                    margin-top: 1.875em;

                    .auction-time {
                        color: #c35;
                        font-weight: 500;
                        font-size: 25px;
                        line-height: 35px;
                        height: 38px;
                        position: relative;
                        z-index: 1;

                        span {
                            background: #fbfbfb;
                            border-radius: 5px;
                            text-align: center;
                            cursor: default;
                            border: 1px solid #0000001f;
                            padding: 10px;
                            font-weight: 400;
                        }

                        b {
                            padding: 0 10px;
                        }
                    }

                    .price-box {
                        margin-top: 20px;
                        display: inline-block;
                        border-radius: 6px !important;
                        overflow: hidden;
                        box-sizing: border-box;
                        vertical-align: top;
                        width: 100%;

                        button {
                            border: none;
                            background: #1ab7ea;
                            outline: 0;
                            cursor: pointer;
                            height: 44px;
                            width: 44px;
                            max-width: 44px;
                            min-width: 44px;
                            line-height: 44px;
                            border-radius: 0;
                            padding: 0;
                            margin: 0;
                            float: left;
                            font-size: 18px;
                            text-align: center;
                            color: #fff;
                        }

                        .button-right {
                            border-top-right-radius: 6px;
                            border-bottom-right-radius: 6px;
                        }

                        .price-container {
                            border-color: #dcdcdc #18b7ea;
                            border-style: solid;
                            border-width: 1px;
                            transition: none;
                            box-sizing: border-box;
                            height: 44px;
                            width: 100px;
                            float: left;
                            line-height: 44px;
                            text-align: center;
                        }
                    }

                    .btn-auction {
                        font-size: 17px;
                        padding: 1.5px 18px;
                        border-radius: 6px;
                        line-height: 36px;
                        background-color: #fff;
                        margin-top: 20px;
                        color: #1ab7ea;
                        border: 1px solid #1ab7ea;
                    }
                }
            }
        }

        .auction-details-container {
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
            padding: 20px;
            margin-bottom: 10px;

            &__title {
                background: rgba(0, 0, 0, 0.02);
                color: rgba(0, 0, 0, 0.87);
                font-size: 1.125rem;
                padding: 0.875rem;
                text-transform: capitalize;
            }

            &__content {
                margin: 1.875rem 0.9375rem 0.9375rem;

                .content-row {
                    display: flex;
                    margin-bottom: 1.125rem;

                    .label {
                        color: rgba(0, 0, 0, 0.4);
                        font-size: 0.875rem;
                        width: 6.25rem;
                        margin-right: 2.5rem;
                    }
                }
            }
        }

        .auction-history-container {
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
            padding: 20px;
            margin-bottom: 10px;

            .auction-history-table {
            }
        }

        .comment-container {
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
            padding: 20px;
            margin-bottom: 10px;

            .comment-row {
                display: flex;
                flex-direction: row;

                .comment-row_img {
                    margin-right: 1rem;

                    img {
                        width: 40px;
                        height: 40px;
                        object-position: center;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 1px solid #d7d7d7;
                    }
                }

                .comment-row_content {
                    .content_name {
                        font-weight: 500;
                        font-size: 1.1rem;
                        color: #686868;
                    }

                    .content_star {
                        color: #0795df;
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: 0.5rem;
                        }
                    }

                    .content_comment {
                        margin-top: 15px;
                        font-size: 1rem;
                        color: #686868;
                    }

                    .content_img {
                        display: flex;
                        align-items: center;
                        max-width: 60%;
                        flex-wrap: wrap;
                        margin-top: 10px;

                        img {
                            width: 80px;
                            height: 80px;
                            object-position: center;
                            object-fit: cover;
                            border: 1px solid #d7d7d7;
                            margin-bottom: 10px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .auction-recommend-container {
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
            padding: 20px;

            .button-see-more {
                width: 120px;
                height: 40px;
                border-radius: 5px;
                text-align: center;
                background-color: #fff;
                color: #0795df;
                border: 0.5px solid #0795df;
                display: flex;
                align-items: center;
                justify-content: space-around;

                &:focus {
                    outline: unset;
                }
            }
        }
    }
}
