html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica;
  /* , Arial,
    "WenQuanYi Zen Hei", "Hiragino Sans GB", "LiHei Pro", "Heiti TC",
    "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif; */
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nprogress .bar {
  background: #0795df !important;
  z-index: 1;
}

.swal2-popup {
  padding: 1.8em !important;
}

.swal-header {
  padding: unset !important;
}

.swal-title {
  text-align: unset;
  width: 100%;
  border-bottom: 1px solid #5a616f;
  height: 35px;
  font-size: 1.6rem !important;
  color: #545454 !important;
  font-weight: 500 !important;
  display: none !important;
}

.swal-content {
  font-size: 1.2rem !important;
  padding: unset !important;
  text-align: unset !important;
}

.swal-content-notifi {
  text-align: center !important;
}

.btn-swal-cancel {
  width: 35% !important;
  height: 40px !important;
  background-color: #fff !important;
  border: 1px solid #d43f3a !important;
  color: #d43f3a !important;
  border-radius: 4px !important;
}

.btn-swal-confirm {
  width: 35% !important;
  height: 40px !important;
  margin-right: 20px;
  background-color: #00a23b !important;
  border: 1px solid #00a23b !important;
  color: #fff !important;
  border-radius: 4px !important;
}

.btn-swal-confirm-error {
  margin-top: 20px;
  width: 35% !important;
  height: 40px !important;
  background-color: #d43f3a !important;
  border: 1px solid #d43f3a !important;
  color: #fff !important;
  border-radius: 4px !important;
}

.swal2-icon {
  margin: 0 auto 1.875em !important;
}

.loading {
  color: #0795df !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

.btn-danger {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.MuiDialog-root {
  z-index: 10 !important;
}

button:focus {
  outline: unset;
}

.btn--cancel {
  color: #fff !important;
  background-color: #de3535 !important;
  border-radius: 4px;
}

.btn--confirm {
  color: #fff !important;
  background-color: #7da863 !important;
  border-radius: 4px;
}

.p-datepicker-month {
  height: 32px;
  border-radius: 4px;
}

.p-datepicker-year {
  height: 32px;
  border-radius: 4px;
}

.invalid-feedback {
  display: block !important;
}

.MuiPopover-paper {
  min-width: 800px !important;
  min-height: 500px !important;
}

.rce-avatar-container .rce-avatar {
  object-fit: cover;
}