@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: 'Shippori Mincho B1', serif; */
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#nprogress .bar {
    background: #fff !important;
    z-index: 1;
}
