.home {
  background-color: #f6f6f6;
  width: 100%;
  color: #686868 !important;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .home-content {
    width: 100%;
    height: auto;
    padding: 10px 0;

    .content-brand {
      background-color: #fff;
      box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
      padding: 20px;

      .p-carousel-indicators {
        display: none;
      }

      .brand-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;

        .brand-title {
          font-size: 18px;
          font-weight: 600;
          color: #686868;
        }

        .see-more {
          color: #0795df;
          font-size: 16px;
          display: flex;
          align-items: center;
        }
      }

      .slick-prev {
        left: 5px;
        z-index: 1;
        width: 40px;
        height: 40px;
      }

      .slick-list {
        margin: 0 60px !important;
      }

      .slick-next {
        right: 5px;
        z-index: 1;
        width: 40px;
        height: 40px;
      }

      .slick-prev:before,
      .slick-next:before {
        font-size: 30px;
        color: #707070;
      }

      .brand-card {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        margin: 20px;
        cursor: pointer;
        border: 1px solid #dee2e6;
        border-radius: 2px;

        &:hover {
          box-shadow: 0px 2px 8px rgb(180 180 180);
          border: 1px solid #80bdff;
        }

        .img-brand-box {
          width: 140px !important;
          height: 140px;
          padding: 10px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);

          &:hover {
            border: 1px solid #d7d7d7;
            box-shadow: unset;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .brand-name {
          font-weight: 500;
          font-size: 1.2rem;
          margin-top: 0.8rem;
          text-align: center;
        }
      }
    }

    .content-category {
      background-color: #fff;
      height: auto;
      box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
      padding: 20px;
      margin-top: 10px;

      .category-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;

        .category-title {
          font-size: 18px;
          font-weight: 600;
          color: #686868;
        }

        .see-more {
          color: #0795df;
          font-size: 16px;
          display: flex;
          align-items: center;
        }
      }

      .category-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid #fff;

        &:hover {
          box-shadow: 0px 2px 8px rgb(180 180 180);
          border: 1px solid #80bdff;
        }

        .img-category-box {
          width: 160px !important;
          height: 160px;
          padding: 10px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
          border-radius: 10%;

          &:hover {
            box-shadow: 0px 2px 8px rgb(180 180 180);
            border: 1px solid #80bdff;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .category-name {
          font-weight: 500;
          font-size: 1.2rem;
          margin-top: 0.8rem;
          text-align: center;
          min-height: 60px;
        }
      }
    }

    .content-product {
      background-color: #fff;
      height: auto;
      box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
      padding: 20px;
      margin-top: 10px;

      .product-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;

        .product-title {
          font-size: 18px;
          font-weight: 600;
          color: #686868;
        }

        .see-more {
          color: #0795df;
          font-size: 16px;
          display: flex;
          align-items: center;
        }
      }

      .product-card {
        padding: 20px;
        cursor: pointer;
        box-shadow: 0px 2px 8px rgb(180 180 180);
        position: relative;
        font-size: 0.8rem !important;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          box-shadow: 0px 2px 16px rgb(160 160 160);

          .img-product-box {
            box-shadow: unset;
            border: 1px solid #80bdff;
          }

          .product-action {
            display: flex;
          }
        }

        .img-product-box {
          width: 180px !important;
          height: 180px;
          padding: 10px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .product-info {
          margin-top: 0.5rem;

          .product-name {
            font-size: 1.1em;
            margin-bottom: 0.5rem;
          }

          .product-price {
            color: #ff0000;
            font-weight: 550;
            font-size: 1em;
          }

          .product-brand {
            font-size: 1em;
          }

          .product-warranty {
            font-size: 1em;

            span {
              color: #5cb85c;
              font-weight: 550;
            }
          }

          .product-sku {
            font-size: 1em;

            span {
              font-weight: 550;
            }
          }

          .product-primary-price {
            font-size: 1em;

            span {
              font-weight: 550;
              color: #0795df;
            }
          }
        }

        .product-action {
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(#80bdff, 0.6);
          z-index: 1;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          .button-wrapper {
            position: relative;
            width: 165px;
            height: 40px;

            .button-add-to-cart {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              text-align: center;
              background-color: #fff;
              color: #0795df;
              border: 0.5px solid #0795df;

              &:focus {
                outline: unset;
              }

              &:disabled {
                background-color: rgba($color: #000000, $alpha: 40%);
                cursor: not-allowed;
                outline: unset;
                border: unset;
                color: #fff;
              }
            }
          }

          .button-buy-now {
            width: 165px;
            height: 40px;
            border-radius: 5px;
            text-align: center;
            background-color: #0795df;
            color: #fff;
            margin-top: 20px;

            &:focus {
              outline: unset;
            }
          }

          .button-detail {
            width: 165px;
            height: 40px;
            border-radius: 5px;
            text-align: center;
            background-color: #0795df;
            color: #fff;
            margin-top: 20px;

            &:focus {
              outline: unset;
            }
          }
        }
      }
    }
  }
}
