.profile {
    background-color: #F6F6F6;

    .profile-edit {
        width: calc(100% - 230px);
        margin-top: 20px;
        height: 500px;
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 20px;
        min-width: 0;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
        border-radius: .125rem;
        padding: 20px;

        .button-save {
            color: #fff;
            background-color: #0795DF;
            margin-left: 15px;

            &:focus {
                outline: none;
                border: none;
            }
        }

        .profile-edit-avatar {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;

            img {
                width: 110px;
                height: 110px;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.01);
                margin-bottom: 20px;
                object-fit: cover;
            }

            input {
                display: none;
            }

            .button-upload {
                background-color: #fff;
                border: 1px solid #0795DF;
                color: #0795DF;
            }

            div {
                margin-top: 5px;
                color: #999;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    .bottom {
        height: 20px;
    }
}