.profile {
  background-color: #f6f6f6;

  .profile-edit {
    width: calc(100% - 230px);
    margin-top: 20px;
    height: 500px;
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    margin-left: 20px;
    min-width: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    border-radius: 0.125rem;
    padding: 20px;

    .p-calendar {
      width: 100%;
      height: 40px;

      .p-button.p-button-icon-only {
        width: 40px;
      }
    }

    .button-save {
      color: #fff;
      background-color: #0795df;
      margin-left: 15px;

      &:focus {
        outline: none;
        border: none;
      }
    }

    .profile-edit-avatar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px;

      img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.01);
        margin-bottom: 20px;
        object-fit: cover;
      }

      input {
        display: none;
      }

      .button-upload {
        background-color: #fff;
        border: 1px solid #0795df;
        color: #0795df;
      }

      div {
        margin-top: 5px;
        color: #999;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .bottom {
    height: 20px;
  }
}
